.warpper {
  width: 450px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.formWarpper .content {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 17px;
  font-style: normal;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  line-height: 18px;
}

.formWarpper .forgotPassword {
  text-align: right;
  padding-right: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #db3022;
}
 .content2 {
   margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #222222;
}

.content2 span {
  color: #DB3022;
}