/* .navbar {
    position: fixed;
    top: 0;
    width: 100%;
} */


.nav-flex {
    height: 43px;
}

.navLogo {
    width: 150px;
    margin-left: 70px;
}
.navSearch {
    width: 545px;
}

.filter1 {
    position: relative;
    left: 405px;
    bottom: 42px;
}

.filter2 {
    position: relative;
    left: 373px;
    bottom: 40px;
}

.navCart {
    width: 300px;
}

.cart1 {
    position: relative;
    top: 8px;
    width: 20px;
    height: 20px;
}
.cart2 {
    position: relative;
    top: 20px;
    right: 15px;
    width: 7px;
    height: 7px;
}
.cart3 {
    position: relative;
    top: 20px;
    right: 15px;
    width: 7px;
    height: 7px;
}
.bell1 {
    position:relative;
    top: 9px;
    left: 33px;
    width: 20px;
    height: 20px;
}
.bell2 {
    position: relative;
    top: 27px;
    left: 19px;
    width: 7px;
    height: 7px;
}
.mail1 {
    position: relative;
    top: 9px;
    left: 65px;
    width: 25px;
    height: 25px;
}
.mail2 {
    position: relative;
    top: 10px;
    left: 42px;
    width: 21px;
    height: 15px;
}
.profile1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 90px;
}
