.card {
  width: 175px;
  height: 230px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
  border-radius: 8px;
}
.card img {
    width: 175px;
}
.cardText {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.cardPrice {
  margin-top: -10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #db3022;
}

.cardDescription {
  margin-top: -12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #9b9b9b;
}
.star {
  margin-top: -7px;
}
.star .checked {
  color: #ffba49;
}

.star .rating {
  font-weight: 400;
  font-size: 10px;
  line-height: 8px;
  color: #9b9b9b;
}

.rowCard {
    gap: 50px;
}